---
import Tag from "components/tags/Tag.astro";

type Props = {
	description?: string;
	tag: string;
};

const { description, tag } = Astro.props;
---

<header class="py-16">
	<h1><Tag large>{tag}</Tag></h1>
	{
		!!description ? (
			<p>{description}</p>
		) : (
			<p>
				<i>No description yet.</i>
			</p>
		)
	}
</header>
