---
import Hero from "../components/Hero.svelte";
import Root from "../layouts/Root.astro";
---

<Root title="Isaac Corbrey">
	<Hero title="Hey! I'm Isaac">
		<p>
			I'm a software developer who works on open source projects and
			occasionally writes articles and videos about technical topics.
		</p>
		<p>
			Stick around and check out my <a href="/posts">posts</a> or learn more
			<a href="/who-am-i">about me</a>.
		</p>
	</Hero>
</Root>
