---
import Prose from "components/controls/Prose.astro";
import Hero from "components/controls/Hero.astro";
import Root from "layouts/Root.astro";

const description =
  "Open-source projects I've made over the years, including this website, a " +
  "color theme, a math library, and more.";
---

<Root {description} title="Projects" path="/projects">
  <Hero title="Projects">
    <Prose>
      <p>{description}</p>
    </Prose>
  </Hero>
</Root>
