---
import { z } from "astro:content";
import DotSeparated from "./DotSeparated.astro";

const schema = z.object({
  href: z.string(),
  src: z.string(),
});

type Props = z.input<typeof schema>;
const { href, src } = schema.parse(Astro.props);
---

<DotSeparated>
  <a class="group flex flex-row items-center gap-1" {href}>
    <img class="h-3.5" {src} />
    <span
      class="font-medium leading-loose tracking-wider text-sm uppercase group-hover:text-fg-1 group-hover:underline"
    >
      <slot />
    </span>
  </a>
</DotSeparated>
