---
import FooterIcon from "components/controls/FooterIcon.astro";
import FooterLink from "components/controls/FooterLink.astro";

const links = {
  kofi: {
    href: "https://ko-fi.com/icorbrey",
  },
  liberapay: {
    href: "https://liberapay.com/isaaccorbrey.com",
  },
};
const icons = {
  github: {
    href: "https://github.com/icorbrey",
    src: "/logos/github.svg",
  },
  printables: {
    href: "https://printables.com/@icorbrey",
    src: "/logos/printables.svg",
  },
  youtube: {
    href: "https://youtube.com/@icorbrey",
    src: "/logos/youtube.svg",
  },
  bsky: {
    href: "https://bsky.app/profile/isaaccorbrey.com",
    src: "/logos/bluesky.svg",
  },
  rss: {
    href: "/rss.xml",
    src: "/logos/rss.svg",
  }
};
---

<footer class="w-full mt-auto pt-16 pb-6 flex flex-col items-center">
  <div class="flex flex-row">
    <FooterLink {...links.kofi}>Buy me a coffee</FooterLink>
    <FooterLink {...links.liberapay}>Support me on Liberapay</FooterLink>
  </div>
  <div class="flex flex-row justify-center">
    <FooterIcon {...icons.github}>GitHub</FooterIcon>
    <FooterIcon {...icons.printables}>Printables</FooterIcon>
    <FooterIcon {...icons.youtube}>YouTube</FooterIcon>
    <FooterIcon {...icons.bsky}>BlueSky</FooterIcon>
    <FooterIcon {...icons.rss}>RSS</FooterIcon>
  </div>
</footer>
