---
import { z } from "astro:content";

const schema = z.object({
  href: z.string(),
});

type Props = z.input<typeof schema>;
const { href } = schema.parse(Astro.props);
---

<li class="list-none">
  <a
    {href}
    class="px-3 py-1 rounded-md text-lg nounderline bg-bg-2 text-fg-2 hover:text-fg-1 hover:bg-bg-3 transition"
  >
    <slot />
  </a>
</li>
