---
import { z } from "astro:content";

const schema = z.object({
  title: z.string(),
});

type Props = z.input<typeof schema>;
const { title } = schema.parse(Astro.props);
---

<div class="py-16 sm:py-32">
  <h1 class="text-5xl text-fg-1 font-bold mb-6">
    {title}
  </h1>
  <slot />
</div>
