---
type Props = {
	title: string;
};

const { title } = Astro.props;
---

<div>
	<h1>{title}</h1>
	<slot />
</div>

<style>
	div {
		padding: 4rem 0;
	}

	@media (min-width: 40rem) {
		div {
			padding: 8rem 0;
		}
	}
</style>
