<div
  class="prose prose-invert max-w-none
    text-fg-2 tracking
    text-lg sm:text-lg
    leading-normal sm:leading-snug
    prose-strong:text-fg-1-5
    prose-headings:text-fg-1
    prose-a:text-blue-300 prose-a:no-underline prose-a:font-normal
    hover:prose-a:text-blue-400 hover:prose-a:underline
    prose-inline-code:text-orange-500 prose-inline-code:font-code prose-inline-code:text-sm
    prose-pre:text-xs prose-code:text-nowrap sm:prose-pre:text-sm
    prose-pre:font-code prose-code:font-code
    prose-pre:eaw-prop prose-code:eaw-prop
    prose-img:m-0 prose-img:rounded-md
  "
>
  <slot />
</div>
