---
import { z } from "astro:content";

const schema = z.object({
  title: z.string(),
  link: z
    .object({
      text: z.string(),
      href: z.string(),
    })
    .optional(),
});

type Props = z.input<typeof schema>;
const { title, link } = schema.parse(Astro.props);
---

<section
  class="w-full flex flex-col items-stretch gap-4 mt-10 first-of-type:mt-0"
>
  <div class="flex flex-row items-center justify-between">
    <h2 class="text-3xl font-bold text-fg-1">{title}</h2>
    {
      !!link && (
        <a
          href={link.href}
          class="px-3.5 py-1 border rounded-md text-fg-3 border-fg-4 hover:text-fg-2 hover:border-fg-3"
        >
          {link.text}
        </a>
      )
    }
  </div>
  <slot />
</section>
