---
import Prose from "components/controls/Prose.astro";
import { z } from "astro:content";

const schema = z.object({
  reviewers: z
    .array(
      z.object({
        display: z.string(),
        link: z.string().optional(),
      }),
    )
    .optional(),
});

type Props = z.input<typeof schema>;
const { reviewers = [] } = schema.parse(Astro.props);

const kofi = "https://ko-fi.com/icorbrey";
const liberapay = "https://liberapay.com/isaaccorbrey.com";

function joinReviewers(nodes: any[]) {
  const n = nodes.length;

  if (n === 0) return null;
  if (n === 1) return nodes[0];
  if (n === 2) return [nodes[0], " and ", nodes[1]];

  const parts: any[] = [];
  for (let i = 0; i < n; i++) {
    parts.push(nodes[i]);
    if (i < n - 2) parts.push(", ");
    else if (i === n - 2) parts.push(", and ");
  }

  return parts;
}
---

<div class="mt-8 flex flex-row bg-bg-2 p-6 rounded-xl">
  <Prose>
    {reviewers.length > 0 && (
      <p>
        Special thanks to{" "}
        {joinReviewers(reviewers.map(({ link, display }) => (
          link ? <a href={link}>{display}</a> : display
        )))}
        {" "}
        for reading early drafts and sharing their feedback! We all see further
        by standing on the shoulders of giants.
      </p>
    )}
    <p>
      I like building tools, breaking workflows, and putting them back together
      better. If you enjoy my work and want to support it, you can
      <a href={kofi}>buy me a coffee ☕</a> or{" "}
      <a href={liberapay}>support me on Liberapay 💛</a>.
    </p>
  </Prose>
</div>
