* {
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	font-size: 87.5%;

	--background-1: #1e1e1e;
	--background-2: #282828;
	--background-3: #ffffff1c;
	--foreground-1: #dcdcdc;
	--foreground-2: #bfbfbf;
	--foreground-3: #8c8c8c;
	--foreground-4: #686868;
	--ui-1: #373737;
	--ui-2: #515151;
	--ui-3: #595959;
	--red-400: #ff3b11;
	--orange-400: #ff9502;
	--yellow-400: #ffcc00;
	--green-400: #2acd41;
	--cyan-400: #02c7be;
	--blue-400: #027aff;
	--blue-500: #0065d9;
	--blue-600: #0056b8;
	--purple-400: #b051de;
	--pink-400: #ff2e55;
}

html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	background: var(--background-1);
	isolation: isolate;

	font-family: 'Afacad Flux', sans-serif;
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

h1,
h2,
h3,
h4 {
	color: var(--foreground-1);
	margin: 0;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.25rem;
}

h2:not(:first-child),
*:not(:first-child):has(> h2:first-child) {
	margin-top: 2rem;
}

h3 {
	font-size: 1.75rem
}

h3:not(:first-child),
*:not(:first-child):has(> h3:first-child) {
	margin-top: 1.5rem;
}

h4 {
	font-size: 1.4rem;
}

h4:not(:first-child),
*:not(:first-child):has(> h4:first-child) {
	margin-top: 1rem;
}

p,
ul,
ol {
	color: var(--foreground-2);
	font-size: 1.4rem;
	margin: 0;
}

p:not(:first-child),
*:not(:first-child):has(> p:first-child),
ul:not(:first-child),
*:not(:first-child):has(> ul:first-child),
ol:not(:first-child),
*:not(:first-child):has(> ol:first-child) {
	margin-top: 0.75rem;
}

a {
	color: var(--blue-400);
	text-decoration: none;
}

a:hover {
	color: var(--blue-500);
	text-decoration: underline;
}
