---
import Prose from "components/controls/Prose.astro";
import { noteStore } from "stores/notes";
import { z } from "astro:schema";

const schema = z.object({
  class: z.string().optional(),
});

type Props = z.input<typeof schema>;
const { class: className } = schema.parse(Astro.props);

const note = await noteStore.getFeatured({
  includeDrafts: import.meta.env.DEV,
});

const href = `/notes/${note?.slug}`;
---

{!!note && (
  <a {href} class:list={["w-full bg-bg-2 p-2 sm:p-4 rounded-xl hover:bg-bg-3 transition border-2 border-ui-2 flex flex-col gap-4", className]}>
    <div class="flex flex-col sm:flex-row gap-2 justify-between items-start w-full">
      <h1 class="text-2xl">
        {note.data.title}
      </h1>
      <span class="bg-orange-400 text-bg-1 text-[0.865rem] uppercase tracking-wide leading-none rounded px-1.5 py-1">
        Featured
      </span>
    </div>
    <Prose>{note.data.description}</Prose>
    <div class="">
      
    </div>
  </a>
)}
