---
import Section from "components/controls/Section.astro";
import NoteList from "components/notes/NoteList.astro";
import Hero from "components/controls/Hero.astro";
import FeaturedNote from "./FeaturedNote.astro";
import type { Note } from "stores/notes";

type Props = {
  notesByYear: {
    title: string;
    notes: Note[];
  }[];
};

const { notesByYear = [] } = Astro.props;
---

<Hero title="Notes">
  <p>
    I write about the things I learn here. Don't be surprised if you never see
    the same topic covered twice.
  </p>
  <FeaturedNote class="mt-12" />
</Hero>

{
  notesByYear.length === 0 ? (
    <>
      <h2>Looks like there's nothing here yet.</h2>
      <p>Come back later to see what I've been cooking up!</p>
    </>
  ) : (
    notesByYear.map(({ title, notes }) => (
      <Section {title}>
        <NoteList highlightNew {notes} />
      </Section>
    ))
  )
}
