---
import NoteList from "components/notes/NoteList.astro";
import Hero from "components/controls/Hero.astro";
import FeaturedNote from "./FeaturedNote.astro";
import type { Note } from "stores/notes";
import Prose from "components/controls/Prose.astro";

type Props = {
  notes: Note[];
};

const { notes = [] } = Astro.props;
---

<Hero title="Notes">
  <Prose>
    <p>
      I write about the things I learn here. Don't be surprised if you never see
      the same topic covered twice.
    </p>
  </Prose>
</Hero>

{
  notes.length === 0 ? (
    <>
      <h2>Looks like there's nothing here yet.</h2>
      <p>Come back later to see what I've been cooking up!</p>
    </>
  ) : (
    <div class="w-full px-3">
      <FeaturedNote class="my-4 hidden sm:block" />
      <NoteList highlightNew {notes} />
    </div>
  )
}
