:root {
	--bg-1: #1e1e1e;
	--bg-2: #282828;
	--bg-3: #ffffff1c;

	--fg-1: #dcdcdc;
	--fg-2: #8c8c8c;
	--fg-3: #686868;

	--ui-1: #373737;
	--ui-2: #515151;
	--ui-3: #595959;

	--highlight: #62a9fc80;
	--divider: #000000;
	--outline: #000000;

	--red-500: #ff3b11;
	--orange-500: #ff9502;
	--yellow-500: #ffcc00;
	--green-500: #2acd41;
	--cyan-500: #02c7be;
	--blue-500: #027aff;
	--purple-500: #b051de;
	--pink-500: #ff2e55;

	--heading-font: 'Nunito Sans', sans-serif;
	--content-font: 'Nunito Sans', sans-serif;

	font-size: 87.5%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	line-height: 1.5;
	isolation: isolate;
	-webkit-font-smoothing: antialiased;

	background: var(--bg-1);
	color: var(--fg-1);
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
